All Jobs for<strong><%= @company.name %></stong>

<% @jobs.each do |job| %>
  <div class=job_<%= job.id %>>
    <%= link_to job.title, company_job_path(@company, job) %><br>
    <%= link_to "Edit", edit_company_job_path(@company, job) %>
    <%= link_to "Delete", company_job_path(@company, job), method: :delete %>
  </div>
<% end %>
